/* Register.css */

.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.register-heading {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.button-container {
  margin-top: 40px;
  display: flex;
  gap: 60px; /* Adjust the gap between buttons */
}


.social-signin-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between buttons */
}

.forgot-password {
  margin-top: 10px;
  text-align: center;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
